<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="home/home.css">
</head>
<body ng-controller="HomeCtrl" ng-cloak>
<h1 class="title">Blogz App</h1>
<div id="signinbox" class="mdl-card mdl-shadow--8dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Sign In</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form name="loginForm">
 		<div ng-class="{'has-error': loginForm.email.$invalid && loginForm.email.$touched}">
 			<md-input-container class="md-block" >
		 		<label>Email</label>
		        <input required type="email" name="email" ng-model="user.email"
		       ng-pattern="/^.+@.+\..+$/" />
		        <div ng-messages="loginForm.email.$error" role="alert">
		          <div ng-message="required">
		            This is required.
		          </div>
		          <div ng-message="pattern">
		          	Your email must look like an e-mail address.
		          </div>
		        </div>
		    </md-input-container>
 		</div>
 		
		<div ng-class="{'has-error': loginForm.password.$invalid && loginForm.password.$touched}">
			<md-input-container class="md-block" >
		 		<label>Password</label>
		        <input type="password" name="password" ng-model="user.password" required minlength="8" />
		        <div ng-messages="loginForm.password.$error" role="alert">
		          <div ng-message="required">
		            This is required.
		          </div>
		          <div ng-message="minlength">
		          	Password must be atleast 8 characters.
		          </div>
		        </div>
		    </md-input-container>
		</div>
		<div class="checkbox col-md-6 col-md-offset-3">
			<label><a style="color:rgb(52, 152, 219);" href="#!/register">Sign Up</a></label>
		</div>
		<div class="col-md-6 col-md-offset-3">
			<p ng-show="errMsg" style="color: red;">{{errorMessage}}</p>
		</div>
	</form>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  <md-button class="btn1 md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="signIn()">Sign In</md-button>

  </div>
</div>

</body>
</html>